/* MENY */

* {
  margin: 0; /* nullstiller nettlesere sin innlagt css */
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: grid;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: none;
  text-align: center;
}

.sm {
  word-spacing: 15px;
}

.logo {
  margin-top: 15px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  min-height: 8vh;
  border-bottom: 1px solid #b6a7a1;
}

.nav-links {
  display: flex;
  text-decoration: none;
  width: 50%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #9c8d87;
  font-size: 19px;
  font-family: rift-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hamburger div {
  background-color: #9c8d87;
  height: 3px;
  width: 25px;
  margin: 5px;
}

a:hover {
  color: #e0c3bc;
}

.hamburger {
  display: none;
}

/* MOBIL */

/* MENY */

@media screen and (max-width: 799px) {
  body {
    overflow-x: hidden;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: none;
  }

  .sm {
    margin-left: -70px;
  }

  .cta-btn {
    width: 25%;
    font-size: 14px;

    font-family: rift-soft, sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 25vh;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 1;
  }
}

.nav-active {
  transform: translateX(0%);
}
